<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="styles/images/about.png" alt="About Page" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>Made with <BR><span class="txt_clr">HBS, CSS, BOOTSTRAP, JS, REST API, EXPRESS-JS </span> FRONT-END and BACK-END</h1>
                        <a href="https://www.linkedin.com/in/aryan-nagpal-b70024217/" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- footer -->
    {{>footer}}
</body>

</html>